.grid_12#order

  .grid_2.spacer

  .grid_8
    
    - form_for( :purchase, @purchase, :url => { :action => "finalize" }) do |f|
      = f.error_messages
   
      %h3 Finalize Payment
      %fieldset  
    
        %p Please review the information below and if correct submit payment.

      %h3 CONTACT
      %fieldset.order_form  
        
        %p
          %label Name:   
          = @purchase.name
        %p
          %label Job Title:
          = @purchase.job_title
        %p
          %label Affiliation:
          = @purchase.affiliation
        %p
          %label Phone:
          = @purchase.phone
        %p 
          %label Email:
          = @purchase.email
        %p
          %label Email Updates:
          = @agreed_to_mailings ? "Yes" : "No"

      %h3 YOUR PURCHASE
      %fieldset.order_form

        %p
          <center><table class="order_table">
          <tr>
          <th>Price</th>
          <th>Item</th>
          <th>Scheduled</th>
          </tr>
          
          - bg = "#ccc"
          - sum = 0
          - @purchase.items.each do |item|
            - sum+=item.current_price
            = "<tr style='background-color:#{bg}'>"
            <td>
            = number_to_currency item.current_price
            </td>
            <td>
            = item.name 
            </td>
            <td>
            = item.scheduled_time.strftime("%B %d, %Y")
            </td>
            </tr>

            - item.questions.each do |question|
              <tr><td style="border:0px"></td>
              <td colspan=2>
              = question.query
              = ":"
              - @response = Response.find(:first,:conditions=>['question_id = ? and purchase_id = ?',question.id,@purchase.id]) 
              = @response.response
              </td>
              </tr>
          <tr style="background-color:#fff">
          <td>
          = number_to_currency sum
          </td>
          <td colspan=2>Total Fee</td>
          </tr>  
 
          </table></center>
      
            
  .grid_2.spacer