.grid_12#order

  .grid_2.spacer

  .grid_8
    
    - form_for( :purchase, @purchase, :url => { :action => "finalize" }) do |f|
      = f.error_messages
   
      %h3 Finalize Payment
      %fieldset  
    
        %p Thank you for your order.
        %p Please review the information below and if correct submit payment.

      %h3 CONTACT
      %fieldset.order_form  
        
        %p
          %label Name:   
          = @purchase.name
        %p
          %label Job Title:
          = @purchase.job_title
        %p
          %label Affiliation:
          = @purchase.affiliation
        %p
          %label Phone:
          = @purchase.phone
        %p 
          %label Email:
          = @purchase.email
        %p
          %label Email Updates:
          = @agreed_to_mailings

      %h3 YOUR PURCHASE
      %fieldset.order_form

        %p
          <table  class="order_table">
          <tr>
          <th>Price</th>
          <th>Item</th>
          <th>Scheduled</th>
          </tr>
          
          - bg = "#ccc"
          - @purchased_items.each do |item|
            - if (bg=="#ccc") then bg="#eee" else bg="#ccc" end
            = "<tr style='background-color:#{bg}'>"
            <td>
            = number_to_currency item.current_price
            </td>
            <td>
            = item.name 
            </td>
            <td>
            = item.scheduled_time.strftime("%B %d, %Y")
            </td>
            </tr>
          </table>
      
            
        %p  
          <table><tr><td>
          = f.check_box :agreed_to_terms
          </td><td>I agree to these Terms and Conditions</td></tr></table>
                
        %p= f.submit 'Proceed'

  .grid_2.spacer